<<<<<<< HEAD
.array-container {
    position: absolute;
    left: 100px;
    /* top: 100px; */
  }
  
  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
  }
=======
.array-container {
    position: absolute;
    left: 100px;
    /* top: 100px; */
  }
  
  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
  }
>>>>>>> 71fd87023d019a924fd62a5e9edf3c06862fe2ac
